<footer class="footer">
  <div class="footer-content">

    <div class="brand-col">
      <h3>Gestion de usuarios<span></span></h3>
      <p>Prueba técnica.</p>
    </div>

    <div class="links-col">
      <h4>Legal</h4>
      <ul>
        <li><a href="#">Privacidad</a></li>
        <li><a href="#">Términos</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Prueba Técnica Inc. Todos los derechos reservados.</p>
  </div>
</footer>
